<div class="clearance-container">
  <div class="bs-dropzone">
    <div class="import-drop-target">
      <div class="import-header">
        <i class="glyphicon glyphicon-cloud-download"></i>
      </div>
      <p class="lead">Have an existing clearance batch file? Upload your <code>clearance-batch.csv</code> to import it.</p>
      <%= form_tag(clearance_batches_path, multipart: true, class: "form-inline", role: "form") do %>
        <div class="form-group">
          <%= label_tag "csv_batch_file", "Select batch file", class: "hidden" %>
          <%= file_field_tag "csv_batch_file" %>
        </div>
        <div class="file-upload-container">
          <%= button_tag "Upload file", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <%- if flash[:notice] -%>
    <div class="alert alert-info" role="alert">
      <%= flash[:notice].html_safe %>
    </div>
  <%- end -%>
  <%- if flash[:alert] -%>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert].html_safe %>
    </div>
  <%- end -%>

  <table class="table table-striped clearance_batches">
    <thead>
      <tr>
        <th></th>
        <th>Date clearanced</th>
        <th>Number of items clearanced</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%- @clearance_batches.each do |clearance_batch| -%>
        <tr>
          <td>Clearance Batch <%= clearance_batch.id %></td>
          <td><%= l(clearance_batch.created_at, format: :short) %></td>
          <td><%= clearance_batch.items.count %></td>
          <td><%= link_to "Export", clearance_batches_path(id: clearance_batch.id, format: :csv), class: "btn btn-success" %></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</div>
